@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

:root {
  --background-color: #171717;

  --font-family: "Roboto Mono", monospace;
  --font-color: #fdfdfd;
  --font-size: 16px;

  --accent-color: #c0faff;
}

html {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
